<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head include-html="/html/header.html">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="text-center">
    <main class="form-login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button class="btn btn-lg btn-primary w-100 rounded-0">Login</button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-light w-100 rounded-0" onclick="location.href='/signUp'">Sign Up</button>
                </div>
            </div>
        </div>
        <form action="/login" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <img class="mt-4 mb-4" src="/img/icon_login.svg" alt="" width="300" height="300">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="ID">
                <label for="username">ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <button class="btn btn-lg btn-primary w-100" type="submit">Login</button>
        </form>
    </main>

    <script src="/js/includeHTML.js"></script>
    <script>
        includeHTML();
    </script>
</body>
</html>