<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<hr>
<form action="/user/signUp" th:object="${userDto}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <input type="text" th:field="*{loginId}" placeholder="Login ID">
    <input type="password" th:field="*{password}" placeholder="Password">
    <button type="submit">Sign Up</button>
</form>
</body>
</html>